#content-area {
    margin-left: 280px;
    padding: 15px;
    .heading {
        h1 {
            color: purple;
            font-size: 1.4rem;
            font-weight: 400;
            margin-bottom: 10px;
        }
        p {
            color: #1b1b1b;
            font-size: .8rem;
            margin-bottom: 10px;
        }
    }
}